<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mt-5"> Text</h1>  
                <form action="/decrypt" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="stego-text">Stego Text:</label>
                        <input type="file" name="stego_text" id="stego-text" class="form-control-file" accept=".txt">
                    </div>
                    <button type="submit" class="btn btn-primary">Extract</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/" class="btn btn-secondary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
