<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hide Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center mt-5"> Text</h1>
                <form action="/encrypt" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="cover-text">Cover Text:</label>
                        <input type="file" name="cover_text" id="cover-text" class="form-control-file" accept=".txt">
                    </div>
                    <div class="form-group">
                        <label for="secret-text">Secret Text:</label>
                        <input type="file" name="secret_text" id="secret-text" class="form-control-file" accept=".txt">
                    </div>
                    <div class="form-group">
                        <label for="output-file">Output File:</label>
                        <input type="text" name="output_file" id="output-file" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Hide</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/" class="btn btn-secondary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
