<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: white;">
    <div class="container mt-5">
        <h1 class="text-center">Welcome to Encryption App</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="text-center">Text Encryption & Decryption</h3>
                <div class="text-center">
                    <!-- Blue-colored buttons -->
                    <a href="/encrypt" class="btn btn-primary">Encrypt Text</a>
                    <a href="/decrypt" class="btn btn-primary">Decrypt Text</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="text-center">Video Encryption & Decryption</h3>
                <div class="text-center">
                    <!-- Blue-colored buttons -->
                    <a href="/video_encrypt" class="btn btn-primary">Encrypt Video</a>
                    <a href="/video_decrypt" class="btn btn-primary">Decrypt Video</a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="text-center">Image Encryption</h3>
                <div class="text-center">
                    <!-- Blue-colored button -->
                    <a href="/encrypt_image" class="btn btn-primary">Encrypt Image</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
