<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Extract</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Video </h1>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <form action="/video_decrypt" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="encrypted_video">Choose Encrypted Video File:</label>
                        <input type="file" class="form-control-file" id="encrypted_video" name="encrypted_video" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Extract</button>
                </form>
                <div class="text-center mt-3">
                    <a href="/" class="btn btn-secondary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
